.homeabout {
  background-color: #302780;
  color: var(--white-color);
  padding: 100px 0 30px;
  position: relative;
  overflow: hidden;
}

.homeabout .container {
  position: relative;
  z-index: 2;
}

.homeabout__container-desktop {
  display: flex;
  justify-content: center;
  padding: 0 50px 100px;
  position: relative;
  z-index: 1;
}

.homeabout__left-title,
.homeabout__right-title {
  font-weight: 700;
  font-size: 75px;
  color: var(--pink-light);
  line-height: 73.78px;
}

.homeabout__left-side {
  width: 30%;
  margin-top: 80px;
}

.homeabout__left-title {
  margin-bottom: 20px;
}

.homeabout__left-text {
  font-size: 17.86px;
  line-height: 26.79px;
  font-weight: 400;
}

.homeabout__center {
  width: 500px;
}

.homeabout__center img {
  width: 650px;
}

.homeabout__right-side {
  margin-top: 250px;
  width: 20%;
  text-align: end;
}

.homeabout__right-title {
  margin-bottom: 30px;
}

.homeabout__right-btn {
  background-color: var(--orange-light);
  color: var(--blue-normal);
  border-radius: 84px;
  padding: 10px 58px;
  margin-left: auto;
  margin-right: 30px;
  display: block;
  font-size: 22px;
  width: max-content;
  text-decoration: none;
}
