.company{
    padding: 80px 0;
    margin-top: 70px;
}

.company .container{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.company-img{
    border-radius: 8px;
    width: 550px;
}

.company-name{
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    line-height: 35px;
    font-weight: 700;
    color: #0055A5;
}

.company-text{
    font-size: 16px;
    line-height: 24px;
    width: 650px;
    margin-top: 65px;
    color: #0055A5;
}

