.product{
    padding: 70px 0;
    margin-top: 80px;
    background-color: #F7F4EE;
}
.product-name{
    margin-left: 80px;
    font-size: 40px;
    line-height: 45px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #302780;
}

.product-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-img{
    width: 280px;
    padding: 10px 0;
}

.product-names{
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
    font-weight: 500;
    color: #302780;
}

.product-cost{
    color: #302780;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.product-text{
    width: 250px;
    margin: 0 auto;
    font-weight: 400;
    color: #302780;
}

.product-title{
    text-align: center;
    width: 300px;
    height: 390px;
    margin: 15px 25px;
    border-radius: 20px;
    box-shadow: 0px 20px 50px 0px rgb(12 21 41 / 10%);
    background-color: #fff;
    transition: 0.5s;
}


.product-title{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.product-title:hover::after{
    transform: translateY(0);
    transition: 1000ms;
}
.product-title::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(130, 233, 45, 0.3);
    transform: translateY(-500px);
}