.first {
    margin-top: 4rem;
    .container {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      .card {
        display: flex;
        width: 30%;
        margin-top: 3.5rem;
        border: none;

        .left{
          display: flex;
        }
  
        .right {
          ul {
            list-style-type: none;
            transition: 0.3s;
            &:hover {
              position: absolute;
              background-color: white;
              box-shadow: 0 1px 1px 1px rgb(215, 205, 205);
              z-index: 999;
            }
  
            &:hover .hid {
              display: block;
            }
  
            &:hover .dot {
             display: none;
            }
  
            li {
              padding: 3px 10px;
              font-size: 17px;
              color: gray;
              transition: 0.3s;
              background-color: white;
  
              &:hover {
                background-color: #da167b;
                color: white;
                cursor: pointer;
                
              }
            }
  
            .hid {
              display: none;
            }
          }
        }
      }
    }
  }
  